* {
    background-color: darksalmon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* id */
#container {
    display: flex; /*flex - responsive*/
    flex-direction: row; /* row or column */
    flex-wrap: wrap; /*wraps when browser changes*/
    justify-content:center; /*alignment of elements*/
    width: 100vm;
    height: 100vh;
}

/* class */
.item {
    background-color: cornflowerblue;
    padding:1px;
    margin: 10px;
    width: 30vw;
    height: 30vh;
    flex-basis: 300px; /*sets a defult size*/
}